<table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th scope="row">1</th>
      <th scope="col">Product_Category</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">#</th>
      <td><strong>Name:</strong> <%= product_category.name %></td>
    </tr>
  </tbody>
</table>
