.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
 
}

.card-img-top {
  width: 100%;
  height: 260px; 
  object-fit: cover; /* Ensure the image covers the specified dimensions */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card {
  height: 550px; /* Set a fixed height for all cards */
  max-height: 550px; /* Ensure the maximum height is the same for all cards */
  min-height: 500px; 

.mb-4 {
  margin-bottom: 20px; /* Add space between cards */
}
