<div class="container mt-4">
  <h1 class="text-center">Edit The Product</h1>

  <%= render "form", product: @product %>

  <div class="mt-4 d-flex justify-content-center">
  <%= link_to "Show this product", @product, class: "btn btn-primary me-2", style: "background-color: #b5d2e0; color: #000000;" %>
  <%= link_to "Back to products", products_path, class: "btn btn-secondary" , style: "background-color: #b5d2e0; color: #000000;"%>
  </div>
</div>








